@model Sistema_de_Tienda.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Detalles del Cliente</h1>

<div class="card shadow-lg p-4 mb-4 bg-white rounded">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Información del Cliente</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4 text-secondary">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt class="col-sm-4 text-secondary">
                @Html.DisplayNameFor(model => model.Correo)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Correo)
            </dd>

            <dt class="col-sm-4 text-secondary">
                @Html.DisplayNameFor(model => model.DireccionPrincipal)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.DireccionPrincipal)
            </dd>

            <dt class="col-sm-4 text-secondary">
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.FechaNacimiento)
            </dd>

            <dt class="col-sm-4 text-secondary">
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt class="col-sm-4 text-secondary">
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.FechaRegistro)
            </dd>
        </dl>
    </div>
    <div class="card-footer text-center">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-sm btn-outline-success me-2">Editar</a>
        <a asp-action="Index" class="btn btn-sm btn-outline-danger me-2">Volver a la lista</a>
    </div>
</div>

